In [11]:
import pandas as pd
import numpy as np
import os

In [12]:
# Turn the project folder path into a string
path = r'/Users/fatemehshahvirdi/Work-Related/Data Analysis/Data Immersion/Achievement 4/Instacart Basket Analysis'

In [14]:
# import orders_products_merged
ords_prods_merge = pd.read_pickle (os.path.join(path, '02 Data', 'prepared Data', 'orders_products_merged_derived.pkl'))

In [15]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int64
 1   product_name            object
 2   aisle_id                int64
 3   department_id           int64
 4   prices                  float64
 5   order_id                int64
 6   user_id                 int64
 7   order_number            int64
 8   orders_day_of_week      int64
 9   order_hour_of_day       int64
 10  days_since_prior_order  float64
 11  new_customer            bool
 12  add_to_cart_order       int64
 13  reordered               int64
 14  _merge                  category
 15  price_range_loc         object
 16  busiest_day             object
 17  busiest_days            object
 18  busiest_period_of_day   object
dtypes: bool(1), category(1), float64(2), int64(10), object(5)
memory usage: 4.2+ GB

In [16]:
ords_prods_merge['product_id'] = ords_prods_merge ['product_id'].astype('int32')
ords_prods_merge['aisle_id'] = ords_prods_merge ['aisle_id'].astype('int32')
ords_prods_merge['department_id'] = ords_prods_merge ['department_id'].astype('int32')
ords_prods_merge['prices'] = ords_prods_merge ['prices'].astype('float32')
ords_prods_merge['order_id'] = ords_prods_merge ['order_id'].astype('int32')
ords_prods_merge['user_id'] = ords_prods_merge ['user_id'].astype('int32')
ords_prods_merge['order_number'] = ords_prods_merge ['order_number'].astype('int8')
ords_prods_merge['orders_day_of_week'] = ords_prods_merge ['orders_day_of_week'].astype('int8')
ords_prods_merge['order_hour_of_day'] = ords_prods_merge ['order_hour_of_day'].astype('int8')
ords_prods_merge['days_since_prior_order'] = ords_prods_merge ['days_since_prior_order'].astype('float32')
ords_prods_merge['add_to_cart_order'] = ords_prods_merge ['add_to_cart_order'].astype('int32')
ords_prods_merge['reordered'] = ords_prods_merge ['reordered'].astype('int8')

In [17]:
ords_prods_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32404859 entries, 0 to 32404858
Data columns (total 19 columns):
 #   Column                  Dtype
---  ------                  -----
 0   product_id              int32
 1   product_name            object
 2   aisle_id                int32
 3   department_id           int32
 4   prices                  float32
 5   order_id                int32
 6   user_id                 int32
 7   order_number            int8
 8   orders_day_of_week      int8
 9   order_hour_of_day       int8
 10  days_since_prior_order  float32
 11  new_customer            bool
 12  add_to_cart_order       int32
 13  reordered               int8
 14  _merge                  category
 15  price_range_loc         object
 16  busiest_day             object
 17  busiest_days            object
 18  busiest_period_of_day   object
dtypes: bool(1), category(1), float32(2), int32(6), int8(4), object(5)
memory usage: 2.4+ GB

In [18]:
ords_prods_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived_downsized.pkl'))

In [19]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,False,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,False,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,False,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Regularly busy,Slowest days,Most orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,False,11,1,both,Mid-range product,Least busy,Slowest days,Average orders