# Exercise 4.9- Task 1
### 01. Import the libraries data sets into Jupyter
### 02. Wangle the data, rename columns with illogical names and drop columns that don’t add anything to your analysis
### 03. Check the fundamental data quality and consistency, as missing values and duplicate
### 04. Combine the customer data with the Instracart data
### 05. Export

# 01. Import the libraries data sets into Jupyter

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
# Turn the project folder path into a string
path = r'/Users/fatemehshahvirdi/Work-Related/Data Analysis/Data Immersion/Achievement 4/Instacart Basket Analysis'

In [3]:
# import new customer dataframe
customer = pd.read_csv (os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)

# 02. Wangle the data, rename columns with illogical names and drop columns that don’t add anything to your analysis

In [4]:
customer.shape

(206209, 10)

In [5]:
customer.rename(columns = {'First Name' : 'first_name' , 'Surnam' : 'family_name' , 'Gender' : 'gender', 'STATE' : 'state', 'Age' : 'age', 'fam_status' : 'marital_statues'}, inplace = True)

In [6]:
customer.columns

Index(['user_id', 'first_name', 'family_name', 'gender', 'state', 'age',
       'date_joined', 'n_dependants', 'marital_statues', 'income'],
      dtype='object')

In [7]:
customer.head()

,user_id,first_name,family_name,gender,state,age,date_joined,n_dependants,marital_statues,income
0,26711,Deborah,Esquivel,Female,Missouri,48,1/1/2017,3,married,165665
1,33890,Patricia,Hart,Female,New Mexico,36,1/1/2017,0,single,59285
2,65803,Kenneth,Farley,Male,Idaho,35,1/1/2017,2,married,99568
3,125935,Michelle,Hicks,Female,Iowa,40,1/1/2017,0,single,42049
4,130797,Ann,Gilmore,Female,Maryland,26,1/1/2017,1,married,40374

#### Since I am unaware of the analysis asked by the client, I don't delete any columns

# 03. Check the fundamental data quality and consistency, as missing values and duplicate

In [8]:
# Check the dimentions
customer.shape

(206209, 10)

In [9]:
# Check the descriptive statistics
customer.describe()

             user_id            age   n_dependants         income
count  206209.000000  206209.000000  206209.000000  206209.000000
mean   103105.000000      49.501646       1.499823   94632.852548
std     59527.555167      18.480962       1.118433   42473.786988
min         1.000000      18.000000       0.000000   25903.000000
25%     51553.000000      33.000000       0.000000   59874.000000
50%    103105.000000      49.000000       1.000000   93547.000000
75%    154657.000000      66.000000       3.000000  124244.000000
max    206209.000000      81.000000       3.000000  593901.000000

In [10]:
# Check the data type
customer.dtypes

user_id             int64
first_name         object
family_name        object
gender             object
state              object
age                 int64
date_joined        object
n_dependants        int64
marital_statues    object
income              int64
dtype: object

In [11]:
# Check for mixed data types
for col in customer.columns.tolist():
    weird = (customer[[col]].map(type) != customer[[col]].iloc[0].apply(type)).any (axis=1)
    if len(customer[weird]) > 0:
        print(col)

first_name

In [12]:
# first_name column has a mixed data type and it should all be united and listed as a string
customer['first_name'] = customer['first_name'].astype('str')

In [13]:
# user_id is made of numbers but not of statistical value, so it should also be changed to string
customer['user_id'] = customer['user_id'].astype('str')

In [14]:
# Check the data types again
customer.dtypes

user_id            object
first_name         object
family_name        object
gender             object
state              object
age                 int64
date_joined        object
n_dependants        int64
marital_statues    object
income              int64
dtype: object

In [15]:
# Check for missing data
customer.isnull().sum()

user_id            0
first_name         0
family_name        0
gender             0
state              0
age                0
date_joined        0
n_dependants       0
marital_statues    0
income             0
dtype: int64

In [16]:
# Check for duplicates
customer_dups = customer[customer.duplicated()]

In [17]:
customer_dups

Empty DataFrame
Columns: [user_id, first_name, family_name, gender, state, age, date_joined, n_dependants, marital_statues, income]
Index: []

##### No missing value and no duplicates were found.

# 04.  Combine the sutomer data with the instracart data

In [18]:
# Import the rest of the prepared Instacart data
ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_grouped.pkl'))

In [19]:
ords_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'add_to_cart_order', 'reordered', '_merge', 'price_range_loc',
       'busiest_day', 'busiest_days', 'busiest_period_of_day', 'max_order',
       'loyalty_flag', 'mean_product_price', 'spending_flag',
       'median_days_since_prior_order', 'order_frequency'],
      dtype='object')

In [20]:
# I should drop the '_merge' column since it will cause problems in the future when I want to merge the customer dataframe
ords_prods.drop(columns=['_merge'], inplace= True)

In [21]:
# Check the columns again
ords_prods.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices',
       'order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'add_to_cart_order', 'reordered', 'price_range_loc', 'busiest_day',
       'busiest_days', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'mean_product_price', 'spending_flag', 'median_days_since_prior_order',
       'order_frequency'],
      dtype='object')

In [22]:
ords_prods.shape

(32404859, 24)

In [23]:
customer.shape

(206209, 10)

##### Both data frames share the user_id column and the customer data frame is considerably smaller

In [24]:
# Check the data type of the shared column
ords_prods.dtypes['user_id']

dtype('int32')

##### we changed the user_id in the 'customer' data frame to string and we should do that here as well

In [25]:
ords_prods['user_id'] = ords_prods ['user_id'].astype('str')

In [26]:
# Check the data types again
ords_prods.dtypes['user_id']

dtype('O')

In [27]:
customer.dtypes['user_id']

dtype('O')

##### Now the key column has the same data type in both data frames

In [28]:
# Merge command and by adding the indicator, it will add a new column '_merge' to indicate the source of each raw
ords_prods_cust = ords_prods.merge(customer, on = 'user_id', indicator = True)

In [29]:
ords_prods_cust.shape

(32404859, 34)

In [30]:
ords_prods_cust.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_name,family_name,gender,state,age,date_joined,n_dependants,marital_statues,income,_merge
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
2,907,Premium Sliced Bacon,106,12,20.0,3160996,138,1,5,13,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
3,907,Premium Sliced Bacon,106,12,20.0,2254091,138,10,5,14,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both
4,1000,Apricots,18,10,12.9,505689,138,9,6,12,...,Charles,Cox,Male,Minnesota,81,8/1/2019,1,married,49620,both

In [31]:
# Check the frequency of _merge
ords_prods_cust['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [32]:
# Check the data type
ords_prods_cust.dtypes

product_id                          int32
product_name                       object
aisle_id                            int32
department_id                       int32
prices                            float32
order_id                            int32
user_id                            object
order_number                         int8
orders_day_of_week                   int8
order_hour_of_day                    int8
days_since_prior_order            float32
new_customer                         bool
add_to_cart_order                   int32
reordered                            int8
price_range_loc                    object
busiest_day                        object
busiest_days                       object
busiest_period_of_day              object
max_order                            int8
loyalty_flag                       object
mean_product_price                float32
spending_flag                      object
median_days_since_prior_order     float32
order_frequency                    object
first_name                         object
family_name                        object
gender                             object
state                              object
age                                 int64
date_joined                        object
n_dependants                        int64
marital_statues                    object
income                              int64
_merge                           category
dtype: object

In [33]:
# 'order_id' data dtype should be changed to string too
ords_prods_cust['order_id'] = ords_prods_cust['order_id'].astype('str')

In [34]:
# 'product_id' data dtype should be changed to string too
ords_prods_cust['product_id'] = ords_prods_cust['product_id'].astype('str')

In [35]:
# 'aisle_id' data dtype should be changed to string too
ords_prods_cust['aisle_id'] = ords_prods_cust['aisle_id'].astype('str')

In [36]:
# 'department_id' data dtype should be changed to string too
ords_prods_cust['department_id'] = ords_prods_cust['department_id'].astype('str')

In [37]:
# check the data type
ords_prods_cust.dtypes

product_id                         object
product_name                       object
aisle_id                           object
department_id                      object
prices                            float32
order_id                           object
user_id                            object
order_number                         int8
orders_day_of_week                   int8
order_hour_of_day                    int8
days_since_prior_order            float32
new_customer                         bool
add_to_cart_order                   int32
reordered                            int8
price_range_loc                    object
busiest_day                        object
busiest_days                       object
busiest_period_of_day              object
max_order                            int8
loyalty_flag                       object
mean_product_price                float32
spending_flag                      object
median_days_since_prior_order     float32
order_frequency                    object
first_name                         object
family_name                        object
gender                             object
state                              object
age                                 int64
date_joined                        object
n_dependants                        int64
marital_statues                    object
income                              int64
_merge                           category
dtype: object

# 05. Export

In [38]:
ords_prods_cust.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_customers_merged.pkl'))